.enter-fade {
    animation: fadeIn .8s ease-in;
}

.exit-fade {
    animation: fadeOut .5s ease-in;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(-100%);

    }
}
