<div class="flex w-3/4 mx-auto text-gray-300 p-4 text-xl justify-center">
    <div class="mr-12">
        <label for="book-select" class="mr-4">Choose a book:</label>
        <select
            name="book"
            id="book-select"
            class="text-indigo-400"
            (change)="bookSelected($event)"
        >
            <option [value]="book.name" *ngFor="let book of books">
                {{ book.name }}
            </option>
        </select>
    </div>
    <div>
        <label for="chapter-select" class="mr-4">Choose a chapter:</label>
        <select
            name="chapter"
            id="chapter-select"
            class="text-indigo-400"
            (change)="chapterSelected($event)"
        >
            <option
                [value]="i + 1"
                *ngFor="let chapter of chapters; let i = index"
            >
                Chapter {{ i + 1 }}
            </option>
        </select>
    </div>
</div>
<h1
    class="text-white uppercase text-center text-2xl grid mt-4 mb-4 items-center gap-8 tracking-widest latest"
>
    {{ selectedBook }} : {{ selectedChapter }}
</h1>
<div *ngIf="showText" class="w-3/4 mx-auto text-gray-400 text-xl enter-fade">
    <p>{{text}}</p>
</div>
<div *ngIf="!showText" class="w-3/4 mx-auto text-gray-400 text-xl exit-fade">
    <p>{{text}}</p>
</div>
